Hotels_rates_change_prediction/*.csv
Smartphone_reviews_sentiment_prediction/models/sentiment_prediction.data-00000-of-00001
Smartphone_reviews_sentiment_prediction/models/sentiment_prediction_v2.data-00000-of-00001